@import './variables';

.button {
   width: 150px;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   font-size: 18px;
   transition: 0.3s transform;
   border: none;
   background-color: red;
   cursor: pointer;
   padding: 10px 20px;
   font-weight: 600;
   letter-spacing: 3px;
   border-radius: 20px;
   transition: all 0.5s ease-in-out;
   &:hover{
      background-color: $button-color-hover;
   }
   &__main{
      display: block;
      margin: 0 auto;
      width: 300px;
      padding: 20px 20px;
      border-radius: 40px;
      margin-top: 50px;
   }
}